fastapi
uvicorn
python-dotenv
clerk_backend_api 
svix
langchain
langchain-community
langchain-google-genai
langchain-google-firestore
firestore
tiktoken
sentence-transformers
langchainhub
aiohttp 
feedparser 
xmltodict
coreapi